#todoTitle {
    margin-top: 0;
}

#allTasks {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.todoTask {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.todoTxt {
    flex: 6;
    text-align: left;
    margin-right: 10px;
}

.todoBtn {
    flex: 1;
}
