#todoTitle {
    margin-top: 0;
}

#allTasks {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.todoTask {
    background-color: #eeeeee;
    border: solid grey 1px;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.todoTxt {
    flex: 6;
    text-align: left;
    margin: auto;
    font-size: 15px;
}

.todoBtn {
    margin: auto;
    flex: 1;
}
