.note {
    background-color: #eeeeee;
    margin-bottom: 15px;
    padding: 15px;
    border: solid grey 1px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

}

#mainNote {
    height: 450px;
    overflow-y: scroll;
}

/*Gjør sånn at scrollbaren alltid vises.*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.noteContainer {
    display: flex;
    flex-flow: column;

}

.noteTitle {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    text-align: left;
}

.noteBtn {
    margin: auto 0 auto auto;
}

.saveBtn {
    display: flex;
    margin-top: 0;
    justify-content: center;
}

.btn-block {
    margin-top: 13px;
    margin-bottom: -24px;
}
